{% extends 'Book/base.html' %}

{% block title %}Sale konferencyjne{% endblock %}

{% block content %}
    <br/>
    <h2>Sale konferencyjne do wynajęcia</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <thead class="thead lead">
                <th>NAZWA SALI</th>
                <th>POJEMNOŚĆ</th>
                <th>STATUS</th>
                <th>MODYFIKUJ</th>
                <th>USUŃ</th>
            </thead>
        </tr>
        {% for room in rooms %}
        <tr>
            <td><a href="{% url 'book:room' room.id %}">{{ room.name }}</a></td>
            <td>{{ room.capacity }}</td>
            {% for k,v in status.items %}
                {% if room.id == k %}
                    <td{% if v == "Wolna" %} class="text-success"
                    {% else %} class="text-danger" {% endif %}>{{ v }}</td>
                {% endif %}
            {% endfor %}
            <td><a href="{% url 'book:modify' room.id %}"><button class="btn btn-warning">modyfikuj</button></a></td>
            <td><a href="{% url 'book:delete' room.id %}"><button class="btn btn-danger">usuń</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'book:new-room' %}">
        <button class="btn btn-success">Utwórz nową salę konferencyjną</button>
    </a>
    <br/>
    <form id="search" method="get" action="{% url 'book:search' %}">
        <input type="submit" value="Szukaj" class="btn btn-warning">
    </form>

{% endblock %}