{% extends 'Book/base.html' %}

{% block title %}Dodaj salę{% endblock %}

{% block content %}

    <br/>
    <h2>Utwórz nową salę konferencyjną</h2>
    <p class="text-danger">{{ message }}</p>
    <form method="POST" action="#">
    {% csrf_token %}
        <label>NAZWA SALI
            <input type="text" name="name" class="form-control" required="required">
        </label><br/>
        <label>POJEMNOŚĆ SALI
            <input type="number" name="capacity" placeholder="np. 50"
                   class="form-control" required="required">
        </label><br/>
        <label>CZY JEST PROJEKTOR:
            <input type="radio" name="projector" value="True">TAK
            <input type="radio" name="projector" value="False">NIE
        </label><br/>
        <input class="btn btn-success" type="submit" value="UTWÓRZ">
    </form>

{% endblock %}