{% extends 'Book/base.html' %}

{% block title %}Room details{% endblock %}

{% block content %}
    <br/>
    <table class="table table-bordered table-striped">
        <tr>
            <td>Sala konferencyjna</td>
            <td>{{ room.name }}</td>
        </tr>
        <tr>
            <td>Pojemność</td>
            <td>{{ room.capacity }}</td>
        </tr>
        <tr>
            <td>Projektor</td>
            <td>{{ projector }}</td>
        </tr>
        <tr>
            <td>Sala zajęta</td>
            <td>{% for reservation in reservations %}{{ reservation }}<br/>{% endfor %}</td>
        </tr>
    </table>
    <br/>
{% comment %}
    <form method="get" action="reservation.html">

    </form>
{% endcomment %}
{% endblock %}